*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
 
}
header{
    background-color: #063970;
    padding: 40px;
    min-height: 100px;
}
#logo{
   margin:0 20px 0 20px;
   width: 300px;
   height:100px;
}
.navbar{
    float:right;
}
.navbar ul{
    list-style: none;
    margin:40px 20px 0 0;
    text-decoration: none;
}
.navbar li {
    display: inline-block;
    font-size:30px;   
    padding-left: 50px;
}
.navbar li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px;
}

.navbar li a:hover{
    background-color: gray;
    border-radius: 15px;
    
}


section{
    background-image: url(../media/background/background.jpg);
    background-size: 100% 100%;
    width:100%;
    min-height:600px;
    text-align: center;
 }
 section h1{
    font-size: 80px;    
    padding: 40px;
    color:white;
    font-weight: bold;
    
 }
 .btn{
    width: 60%;
    margin:30px auto;
     background-color: peru;
     display: block;
     border-radius: 20px;
     color:white;
     font-weight: bold;
     font-size:40px;
     text-decoration: none;
     padding:20px;
    
 }
 .btn:hover{
    background-color: red;
}

 footer{
    background-color: #063970;
    min-height: 100px;
    
    text-align: center;
 }
 .icon{
    width: 50px;
    height: 50px;
    margin:30px 60px;
    display: inline-block;
    border-radius: 10px;
 }
 form{
    
    box-sizing: border-box;
    padding:100px;
    font-size: 40px;
    color:aliceblue;
    font-weight: bold;
    text-align: left;
    width:600px;
    margin:auto;
   
 }
 form input{
    box-sizing: border-box;
    width:100%;
    margin:0 auto;
    margin-bottom: 30px;
    padding:10px;
    border-radius: 10px;
    font-size:30px;
 }
 #submit{
    background-color: aqua;
    color:aliceblue;
    font-weight: bold;
    font-size: 30px;
 }
